.mywork {
  padding: 0 20px;
}

.mywork-tittle {
  position: relative;
}

.project {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.imgP {
  transition: transform 0.3s, border 0.3s;
  height: 260px; /* Default height */
  width: 360px;  /* Default width */
}

.imgP:hover {
  transform: scale(1.08);
  border: 4px solid #FF00FF;
}

.showmore {
  border-color: #FF00FF;
  background-color: transparent;
}

@media (max-width: 768px) {
  .mywork {
    gap: 30px;
    margin: 50px 15px;
    align-items: start;
  }

  .mywork-tittle {
    align-items: flex-start;
  }

  .mywork-tittle h1 {
    white-space: nowrap;
    font-size: 50px;
    text-align: start;
    margin-left: 15px;
    border:4px white;
    margin-right:30vw;
  }

  .mywork-tittle img {
    right: -1vw; /* Adjust as needed */
  }
}
