/* Base styles */
.profile {
    height: 250px;
    width: 250px;    
  }
  .img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;   
  }
  .intro {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B415FF 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contactBtn {
    padding: 18px 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B415FF 100%);
    border-radius: 50px;
    transition: all 0.1s;
    cursor: pointer;
  }
  .contactBtn:hover {
    border: 2px solid white;
  }
  .resumeBtn {
    padding: 18px 45px;
    border: 2px solid white;
    border-radius: 50px;  
    transition: all 0.3s; 
  }
  .resumeBtn:hover {
    border-color: #B415FF;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .hero {
      padding: 20px;
      text-align: center;
    }
    .profile {
      height: 150px;
      width: 150px;
      margin: auto;
    }
    .socialicon {
      margin-top: 30px;
      justify-content: center;
    }
    .socialicon div {
      height: 35px;
      width: 35px;
    }
    .socialicon svg {
      font-size: 25px;
    }
    
    h1 {
      font-size: 24px;
      margin: 20px 0;
    }
    p {
      font-size: 16px;
      margin: 10px 0;
    }
    .hero-action {
      flex-direction: column;
      gap: 15px;
    }
    .contactBtn, .resumeBtn {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  