/* Base styles */
.about-left {
  height: 400px;
  width: 700px;
  border-radius: 20px;
  overflow: hidden;
}
.aboutImg {
  object-fit: cover;
  object-position: 4px 50px;
  overflow: hidden;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh;
  gap: 80px;
}
.about-skill {
  display: flex;
  align-items: center;
  gap: 50px;
  transition: 0.3s;
}
.about-skill p {
  min-width: 100px;
  font-size: 18px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 7px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  border-radius: 50px;
}
.about-achievement h1 {
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  background-clip: text;
  color: transparent;
  font-size: 45px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .about {
    margin: 10vh 20px;
    gap: 60px;
  }
  .about-tittle h2 {
    font-size: 5vw;
  }
  .about-left {
    height: 300px;
    width: 600px;
  }
  .paragraph p {
    font-size: 17px;
  }
  .about-skill p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .about {
    margin: 50px 20px;
    gap: 40px;
    align-items: start;
  }
  .about-tittle h2 {
    font-size: 45px;
    padding: 0;
    margin-left: 10px;
  }
  .about-tittle img {
    width: 100px;
    right: 0;
  }
  .about-left {
    display: none;
  }
  .about-sec {
    flex-direction: column;
    gap: 20px;
  }
  .about-right {
    gap: 20px;
  }
  .paragraph p {
    font-size: 16px;
    text-align: center;
  }
  .about-skills {
    gap: 10px;
    padding-right: 0;
    margin-left: 3vw;
  }
  .about-skills hr {
    width: inherit;
  }
  .about-skill {
    gap: 20px;
  }
  .about-skill p {
    font-size: 16px;
  }
  .about-achievement {
    margin-top: 8vw;
    margin-right: 4vw;
    justify-content: space-between;
  }
  .about-achievement p {
    margin-left: 5vh;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .about {
    margin: 20px;
    gap: 30px;
  }
  .about-tittle h2 {
    font-size: 8vw;
  }
  .paragraph p {
    font-size: 15px;
  }
  .about-skill p {
    font-size: 15px;
  }
  .about-achievement h1 {
    font-size: 35px;
  }
  .about-achievement p {
    font-size: 14px;
  }
}
