.micon{
    font-size: 35px;
    font-weight: 500;
}
.talk{
    font-weight: 700;
    background: linear-gradient(270deg,#B822E4 80% , #DF8908 100%);
    background-clip: text;
    color: transparent;
}
.contact-right input{
    background-color: #32323C;
}
.contact-right textarea {
    background-color: #32323C;
}
.contact-submit{
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);

}
.border{
    border-top:2px solid white ;
    margin-top:-4% ;
}

@media(max-width:768px) {

    .link-sec{
        display: flex;
        flex-direction: column;  
    }
    .theme{
        display: none;
    }
    .link-right{
        /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%; */
    }
    .textArea{
        white-space: nowrap;
    }
    .contact-submit{
        white-space: nowrap;
        
    }
    .lastPart{
        flex-direction: column;
        gap: 8px;
        margin-bottom:-32px ;
    }
    .lastPart p{
        margin-top: 8px;
        font-size: 19px;
    }
    .lastPart .last-right{
        margin-right: 22px;
        
    }
    .ft-last{
        flex-direction: column-reverse;
        white-space: nowrap;
        margin-left: 15px;
    }
    
}

