.micon{
    font-size: 35px;
    font-weight: 500;
}
.talk{
    font-weight: 700;
    background: linear-gradient(270deg,#B822E4 80% , #DF8908 100%);
    background-clip: text;
    color: transparent;
}
.contact-right input{
    background-color: #32323C;
}
.contact-right textarea {
    background-color: #32323C;
}
.contact-submit{
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);

}
.border{
    border-top:2px solid white ;
    margin-top:-4% ;
}

@media(max-width:768px) {
    .getInTouch{
        align-items: start;
    }
    .git-tittle h1{
        font-size: 55px;
        font-weight:700;
    }
    .theme{
        display: none;
    }
    .link-sec{
        display: flex;
        flex-direction: column;
        margin-right:0vw ;


    }

    .link-right input{
        /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%; */
    width: 300%;
    }
    .textArea{
        white-space: nowrap;
    }
    .contact-submit{
        white-space: nowrap;

    }
    .lastPart{
        aligin-item:start;
        flex-direction: column;
        gap: 8px;
        margin-bottom:-32px ;
    }
    .lastPart p{
        margin-top: 8px;
        font-size: 18px;
        white-space: nowrap;

    }
    .last-left{
        margin-right: 40vw;
    }
    .lastPart .last-right{
        margin-right: 22px;

    }
    .ft-last{
        flex-direction: column-reverse;
        white-space: nowrap;
        margin-left: 15px;
    }
    .last-right {
     /* border:4px solid white; */
     margin-left:-38vw
    }
    .contact-right{
        margin-top:40px;
    }
    .talk{
        margin-bottom:20px;
    }
    .border{
        margin-top:-35px;
        width: 125%;
    }
    .picon{
        height: 50px;
        width:50%;
    }
    .rights{
        /* border:4px solid white; */
        margin-top:-40px;
      }
      .link{
        font-size:13px;
        margin-top:-28px;
      }
      .footer {
        align-items: start;
           }
        
        }

